<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Juan Pablo Rodríguez Alonso, Andrés Ramírez Villanueva, Alan Trillo Rendón

**Fecha:** 07 de junio del 2021.

**Expediente** : 715180, 726061, 713252.

**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: [Link con el enlace del repositorio del creador del proyecto](https://github.com/JuanPrdz/Tarea2_JPRodriguez_ARamirez_ATrillo)

# Tarea 2: Clase 4

In [1]:
from functools import reduce
import pandas as pd
import numpy as np

### Ejercicio 1:
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![]()
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

#### Ejercicio 1: Estudiante 1 Juan Pablo Rodríguez Alonso

In [3]:
# Código de solución estudiante 1 Juan Pablo Rodríguez

# Función que opera dada las condiciones del problema y el incremento de 10 si el valor es menor a 100
incremento = lambda x, y: x*y + 10 if x*y < 100 else x*y

# Map que a cada elemento de orders, coloca en la lista primeramente el numero de pedido y luego le aplica la función
# incremento a los valores en las posiciones 2 y 3 de los orders
list(map(lambda l_i: (l_i[0], incremento(l_i[2], l_i[3])), orders))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

#### Ejercicio 1: Estudiante 2 Andrés Ramírez Villanueva

In [4]:
# Código de solución estudiante 2
# Se importan ibrerías.

from pandas import DataFrame
import matplotlib.pyplot as plt
import scipy.special as sps 


orders1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

o1 = lambda x: (x[0], x[2] * x[3])
o2 = lambda x: x if x[1] >= 100 else (x[0], x[1] + 10) 

orden = list(map(o2, map(o1, orders1)))
orden

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

#### Ejercicio 1: Estudiante 3 Alan Trillo

In [5]:
# Código de solución estudiante 3
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

# El resultado debe ser como muestro en el resultado de esta celda

res = lambda x, y: x * y + 10 if x * y < 100 else x * y
list(map(lambda no: (no[0], res(no[2],no[3])) , orders))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### Ejercicio 2:

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`
           
 Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [6]:
orders_2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

#### Ejercicio 2: Estudiante 1 Juan Pablo Rodríguez Alonso

In [7]:
# Código de solución estudiante 1 Juan Pablo Rodríguez

# Función que opera dada las condiciones del problema y el incremento de 10 si el valor es menor a 100
incremento = lambda x, y: x*y + 10 if x*y < 100 else x*y
# Función que va a sumar 
suma = lambda x, y: x+y
indice = list(map(lambda ind: ind[0], orders_2))
tuplas = list(map(lambda tup: tup[1:], orders_2))
total = list(map(lambda tot: reduce(suma,list(map(lambda tol: incremento(tol[1],tol[2]), tot))), tuplas))
final = list(zip(indice, total))
final

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

#### Ejercicio 2: Estudiante 2  Andrés Ramírez Villanueva

In [8]:
# Código de solución estudiante 2
eje2 = list(map(lambda x: x if x[1]>=100 else (x[0],x[1]+10),map(lambda y:(y[0],reduce(lambda a,b:a+b,list(map(lambda z:z[1]*z[2] ,y[1:])))),orders_2)))
eje2

[(1, 678.3299999999999),
 (2, 494.46000000000004),
 (3, 364.79999999999995),
 (4, 492.57)]

#### Ejercicio 2: Estudiante 3 Alan Trillo

In [9]:
# Código de solución estudiante 3
########### Solución 2
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

from functools import reduce
incremento = lambda x, y: x * y + 10 if x * y < 100 else x * y 
suma = lambda x, y: x + y 
#Jalamos el número de pedido, el número localizado en el indice
indice = list(map(lambda ind: ind[0], orders))

#Quitamos el indice, para tener las listas en donde se encuentra la información
#que necesitamos para sacar el monto de cada pedido
tuplas = list(map(lambda tup: tup[1:], orders))


#total es el resultado de lo que buscamos, primero usamos la función global suma en una librería que es reduce, que lo que va 
#a hacer es irnos sumando el monto total de los pedidos, en la misma librería, al momento de definir la suma que nos tiene que
#hacer, estamos creando una nueva lista en donde se está multiplicando la cantidad por el precio de la lista que creamos 
#arroba llamada tuplas, entonces, reduce está sumando del pedido 1, la multiplicación de cantidad por precio. 
total = list(map(lambda tot: reduce(suma , list(map(lambda tol: incremento(tol[1] , tol[2]), tot))), tuplas))

#para terminar, unimos el número de pedido y el total de cada pedido.
final = list(zip(indice, total))
final

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

### Ejercicio 3:

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

#### Ejercicio 3: Estudiante 1 Juan Pablo Rodríguez Alonso

In [10]:
# Código de solución estudiante 1 Juan Pablo Rodríguez
# Ejercicio 3
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
orders_df = pd.DataFrame(orders)

condicion = lambda x: x if x>=100 else (x+10)
resultado = pd.DataFrame([(orders_df.iloc[:,2]*orders_df.iloc[:,3]).apply(condicion)], 
                         index = ["Precio"]).T
for i in range(len(orders_df)):
    global resultado
    resultado = resultado.rename(index = {i: orders_df.iloc[i,0]})
resultado

       Precio
34587  163.80
98762  284.00
77226  108.85
88112   84.97

In [11]:
# Código de solución estudiante 1 Juan Pablo Rodríguez
# Ejercicio 2
orders_2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
orders2_df = pd.DataFrame(orders_2)
condicion2 = lambda x: 0 if x==None else x if x>=100 else (x+10)
def prueba(x: "Entrada"):
    '''
    Esta función hace que los datos con None se hagan cero para poder iterar en las multiplicaciones
    '''
    try:
        return condicion2(x[1]*x[2])
    except:
        return 0 
orders2_df.iloc[:,3].apply(prueba)
sumatoria = pd.DataFrame([orders2_df.iloc[:,i].apply(prueba) for i in range(1,len(orders2_df))])
total_suma =pd.DataFrame([sumatoria.iloc[:,i].sum() for i in range(len(orders2_df))])
total_suma = total_suma.rename(index = lambda x: orders2_df.iloc[x,0])
total_suma.columns = ["Total"]
total_suma

    Total
1  688.33
2  504.46
3  374.80
4  502.57

#### Ejercicio 3: Estudiante 2 Andres Ramirez Villanueva

In [12]:
# Código de solución estudiante 2 Ejercicio 1
data1=pd.DataFrame(columns=["Order number","Book Title and Author","Quantity","Price per Item"], data=orders1)
eje3=[(data1.iloc[:,-2]*data1.iloc[:,-1]).apply(lambda x: x if x>=100 else (x+10))]
eje3=pd.DataFrame(eje3)
eje3=eje3.append(data1.iloc[:,0])
print(eje3.T)

        0 Order number
0   163.8        34587
1   284.0        98762
2  108.85        77226
3   84.97        88112

In [13]:
# Código de solución estudiante 2 Ejercicio 2
orders_2 = [[1, "5464", 4, 9.99, "8274",18,12.99, "9744", 9, 44.95], 
           [2, "5464", 9, 9.99, "9744", 9, 44.95, 0,0,0],
           [3, "5464", 9, 9.99, "88112", 11, 24.99, 0,0,0],
           [4, "8732", 7, 11.99, "7733",11,18.99, "88112", 5, 39.95]]
data2=pd.DataFrame(orders_2)

eje3_1= [((data2.iloc[:,2]*data2.iloc[:,3])+(data2.iloc[:,5]*data2.iloc[:,6])+(data2.iloc[:,8]*data2.iloc[:,9])).apply(lambda x: x if x>=100 else (x+10))]
eje3_1

[0    678.33
 1    494.46
 2    364.80
 3    492.57
 dtype: float64]

#### Ejercicio 3: Estudiante 3 Alan Trillo

In [14]:
# Código de solución estudiante 3 Ejercicio 1

In [15]:
# Código de solución estudiante 3 Ejercicio 2

### Ejercicio 4:

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

#### Ejercicio 4: Estudiante 1 Juan Pablo Rodríguez Alonso

In [16]:
# Código de solución estudiante 1 Juan Pablo Rodríguez
lista='the notion of a lambda function goes all the way back to the origin of computer science'
filtra = list(filter(lambda x: len(x)>3, lista.split()))
filtra

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

#### Ejercicio 4: Estudiante 2 Andrés Ramírez Villanueva

In [17]:
# Código de solución estudiante 2
cadena = "the notion of a lambda function goes all the way back to the origin of computer science"
cortador = lambda x: len(x) >= 4 
x = list(filter(cortador, cadena.split()))
x

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

#### Ejercicio 4: Estudiante 3 Alan Trillo

In [18]:
# Código de solución estudiante 3
# Respuesta
list_1='the notion of a lambda function goes all the way back to the origin of computer science'
cond = lambda x: len(x) >= 4
x = list(filter(cond,list_1.split()))
x

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### Ejercicio 5:
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [19]:
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

#### Ejercicio 5: Estudiante 1 Juan Pablo Rodríguez Alonso

In [20]:
# Código de solución estudiante 1 Juan Pablo Rodríguez
filtro= list(filter(lambda x: 30<= x <=80 , temperatures))
print("El porcentaje que entra en el rango entre 32 y 80 son: ", len(filtro)*100/len(temperatures), "%")

El porcentaje que entra en el rango entre 32 y 80 son:  46.666666666666664 %

#### Ejercicio 5: Estudiante 2 Andrés Ramírez Villanueva

In [21]:
# Código de solución estudiante 2
temp_rango = lambda x: 32 <= x <= 80
temp_prom = len(list(filter(temp_rango, temperatures)))/len(temperatures)
temp_prom

0.4666666666666667

#### Ejercicio 5: Estudiante 3 Alan Trillo

In [22]:
# Código de solución estudiante 3
cond = lambda x: 32 <= x <= 80
suma = (list(filter(cond, temperatures)))
prom = len(suma)/len(temperatures)
prom*100

46.666666666666664

### Ejercicio 6:
6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [23]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

#### Ejercicio 6: Estudiante 1 Juan Pablo Rodríguez Alonso

In [24]:
# Código de solución estudiante 1 Juan Pablo RodrÍguez
left_corner = np.minimum.reduce(point_xy)
left_corner

array([0, 2])

#### Ejercicio 6: Estudiante 2 Andrés Ramírez Villanueva

In [25]:
# Código de solución estudiante 2
np.minimum.reduce(point_xy)

array([0, 2])

#### Ejercicio 6: Estudiante 3 Alan Trillo

In [26]:
# Código de solución estudiante 3
np.minimum.reduce(point_xy)

array([0, 2])